/* SpoqaHanSans Font */
@font-face {
	font-family: 'SpoqaHanSans';
	src: local('※'), 
		 url('/fonts/spoqa/Spoqa Han Sans Bold.woff2') fromat('woff2'),
		 url('/fonts/spoqa/Spoqa Han Sans Bold.woff') format('woff');
	font-weight: 800;
}
@font-face {
	font-family: 'SpoqaHanSans';
	src: local('※'), 
		 url('/fonts/spoqa/Spoqa Han Sans Regular.woff2') fromat('woff2'),
		 url('/fonts/spoqa/Spoqa Han Sans Regular.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'SpoqaHanSans';
	src: local('※'), 
		 url('/fonts/spoqa/Spoqa Han Sans Thin.woff2') fromat('woff2'),
		 url('/fonts/spoqa/Spoqa Han Sans Thin.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'SpoqaHanSans';
	src: local('※'), 
		 url('/fonts/spoqa/Spoqa Han Sans Light.woff2') fromat('woff2'),
		 url('/fonts/spoqa/Spoqa Han Sans Light.woff') format('woff');
	font-weight: 200;
}
/* AppleSDGothicNeo Font */
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: local('※'), 
		 url('/fonts/AppleSDGothicNeo/woff/AppleSDGothicNeoH.woff') format('woff'),
		 url('/fonts/AppleSDGothicNeo/woff2/AppleSDGothicNeoH.woff2') fromat('woff2'),
		 url('/fonts/AppleSDGothicNeo/ttf/AppleSDGothicNeoH.woff2') fromat('ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: local('※'), 
		 url('/fonts/AppleSDGothicNeo/woff/AppleSDGothicNeoB.woff') format('woff'),
		 url('/fonts/AppleSDGothicNeo/woff2/AppleSDGothicNeoB.woff2') fromat('woff2'),
		 url('/fonts/AppleSDGothicNeo/ttf/AppleSDGothicNeoB.woff2') fromat('ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: local('※'), 
		 url('/fonts/AppleSDGothicNeo/woff/AppleSDGothicNeoM.woff') format('woff'),
		 url('/fonts/AppleSDGothicNeo/woff2/AppleSDGothicNeoM.woff2') fromat('woff2'),
		 url('/fonts/AppleSDGothicNeo/ttf/AppleSDGothicNeoM.woff2') fromat('ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: url('/fonts/AppleSDGothicNeo/woff/AppleSDGothicNeoR.woff') format('woff'),
		 url('/fonts/AppleSDGothicNeo/woff2/AppleSDGothicNeoR.woff2') fromat('woff2'),
		 url('/fonts/AppleSDGothicNeo/ttf/AppleSDGothicNeoR.woff2') fromat('ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'AppleSDGothicNeo';
	src: local('※'), 
		 url('/fonts/AppleSDGothicNeo/woff/AppleSDGothicNeoUL.woff') format('woff'),
		 url('/fonts/AppleSDGothicNeo/woff2/AppleSDGothicNeoUL.woff2') fromat('woff2'),
		 url('/fonts/AppleSDGothicNeo/ttf/AppleSDGothicNeoUL.woff2') fromat('ttf');
	font-weight: 200;
}

body {
	padding: 0;
	margin: 0;
}

html, body {
	scroll-behavior: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 16px;
}

input {
	border: none;
	background-color: rgba(0,0,0,0);
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

strong {
	font-weight: 600;
}

* {
	outline: none;
	font-family: "AppleSDGothicNeo", "SpoqaHanSans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	font-weight: 400;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1rem;
}